<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movies</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- the section page where in the h1 is placed -->
        <div class="container">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">My Favourite Movies</h1>
                        <p>This is based on my own opinion, feel free to add your own favorite movie <a href="../views/new_movie.html">here</a>.</p>
                    </div>
                </div>
            </section>
            <!-- Belos is where the image of all of my favorite movies -->
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/extraction.jpg" alt="Poster of Extraction Movie">
                            <div class="card-body">
                                <h3>Extraction 2020</h3>
                                <p class="card-text">Is an american action film, which is about rescuing the boy. This movie is so engaging to watch. I love how they
                                introduce indian culture in this film and the action cinematics are so breath-taking. I enjoy every fight scenes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/perfume.jpg" alt="Poster of Perfume Movie">
                            <div class="card-body">
                                <h3>Perfume: The Story of a Murderer 2006</h3>
                                <p class="card-text">Mind blown movie for me, it's about a man who is obsess of love and affection that he did not get from his childhood,
                                unintentionally knowing that what he did is an act of a hideous crimes that forever marks in the history of mankind. A
                                movie worth to watch.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/avatar.jpg" alt="Poster of Avatar Movie">
                            <div class="card-body">
                                <h3>Avatar: The Way of Water 2022</h3>
                                <p class="card-text">I love the animation of this film. It showcase what the love of family is all about and acceptance of each parents and
                                kids flaws. It represents culture, diversity and unity.</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/crawdads.jpg" alt="Poster of Where the crawdads Sing Movie">
                            <div class="card-body">
                                <h3>Where The Crawdads Sing 2022</h3>
                                <p class="card-text">Based on a novel with the same name by Olivia Newman. Best movie for me, because of it's unique story telling about the
                                girl who live independently but still seeking for love and kindness to other people. There is a plot wist at the end of
                                the movies that blown my mind. Most recommended movie for those introvert people like me. 😁😀😁</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/miracle.jpg" alt="Poster of Miracle in Cell no.7 Movie">
                            <div class="card-body">
                                <h3>Miracle in Cell No.7</h3>
                                <p class="card-text">The story is very touching for me, it gives me sad but appreciative vibes. A must watch movie if you want to reflect your life and to know how unjustice our society is for those person with dissabilities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/interstellar.jpg" alt="Poster of Interstellar Movie 2014">
                            <div class="card-body">
                                <h3>Interstellar 2014</h3>
                                <p class="card-text">I love sci-fi genre movie, and this movie is one of the best for me. I am so amazed as how the story connected from the past, present and the future.</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/into_wild.jpg" alt="Poster of Into the Wild Movie 2007">
                            <div class="card-body">
                                <h3>Into the Wild 2007</h3>
                                <p class="card-text">A sad and devastated film for me, but yet one of my favorite movie. It gives you important lesson to never trust your own instinct. You cannot do things alone, you really need someone who will listen and advice you in life.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/pandora.jpg" alt="Poster of Pandora Movie 2016">
                            <div class="card-body">
                                <h3>Pandora 2016</h3>
                                <p class="card-text">It's a disaster film that I just recently watched in netflix. It gives a lesson to choose your own battle not everyone can be saved. But at the same time it teaches you on how to be heroic and how to care to the people and to your family in times of crisis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/train_busan.jpg" alt="Poster of Train To Busan 2016">
                            <div class="card-body">
                                <h3>Train to Busan 2016</h3>
                                <p class="card-text">I am also a fan of zombie-(post/pre)apocalyptic movies and the first time I watched this film, I feel in love with how the story written well.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>