<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Theater/Cinemas Location</title>
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Theater/Cinema Locations</h1>
                        <p>Kindly see below available Theater to watch upcoming movies.</p>
                    </div>
                </div>
            </section>
            <!-- Belos is where the image of all of my favorite movies -->
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/ayala_cinema.jpg" alt="Picture of Ayala Mall Cinemas">
                            <div class="card-body">
                                <h3>Ayala Malls Cinema</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/sm_cinema.jpg" alt="Picture of SM Cinema">
                            <div class="card-body">
                                <h3>SM Cinema</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/fairview_cinema.jpg" alt="Picture of fairview Cinema">
                            <div class="card-body">
                                <h3>Fairview Terraces Cinema</h3>
                            </div>
                        </div>
                    </div>
            
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/century_cinema.jpg" alt="Picture of Century Mall Cinema">
                            <div class="card-body">
                                <h3>Century Mall Cinema</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/fisher_cinema.jpg" alt="Picture of Fisher Mall Cinema">
                            <div class="card-body">
                                <h3>Fisher Mall Cinema</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../Images/newport_cinema.jpg" alt="Picture of New Port Cinema">
                            <div class="card-body">
                                <h3>New Port Cinema</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>